%h1 Application Form

%p hello !!!

/ = form_with scope: :submission, local: true do |f|
/   = f.label
/ = simple_form_for @submission,  html: { class: 'form-horizontal' }) do |f|
= simple_form_for @submission, url: submissions_path do |f|
  = f.input :title, label: "Title, please"
  = f.input :description#, as: :text
  = f.button :submit
