%h1 This is a Grant.


%div
  %strong Title:
  = @grant.title

%div
  %strong Amount:
  = @grant.amount

%div
  %strong Submissions Open:
  = @grant.submissions_open_at

%div
  %strong Submissions Close:
  = @grant.submissions_close_at